*{
    box-sizing: border-box;
    margin: 0px;
}
#bgvid {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .viewport-header {
    justify-content: center;
    position: absolute;
    font-size: 40px;
    width: 80%;
    margin: 5% 10% 5% 10%; 
  }
  .viewport-header h4{
    font-size: 19px;
    text-align: center;
    color: rgb(226, 221, 221);
    text-shadow: 10px 10px 10px black;
  }
  .viewport-header h1{
    text-align: center;
    color: rgb(226, 221, 221);
    text-shadow: 10px 10px 10px black;
  }
  .contenedor{
    width: 100%;
    height: 15em;
    position: fixed;

  }
 
.contenedor2{
    background-image: url(/img/cosa2.gif);
    background-position: center center;
    background-attachment: fixed;
    
    position: absolute;
    margin: 15em auto auto auto;
    width: 100%;
    height: fit-content;
    padding: 0em;
    
}
.grid{
    padding: 4em;
    width: 80%;
    margin: 0em auto 5em auto;
    background-image: url(./img/cosa1.gif);
    background-position: center center;
    background-attachment: fixed;
    border: solid black 10px;
    border-radius: 10px;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10em;

}
.grid :hover{
    transform: scale(0.9);
    border-radius: 15%;
    transition: all 1.5s ease;
    border: solid 5px white;
    
}


.fotos{
    margin: auto;
    width: 35em;
    height: 35em;
    border-radius: 50%;
    border: solid 5px black;
}

.foto1{
    background-image: url(./img/instlinux.gif);
    background-position: center center;
    background-size: cover;
}
.foto2{
    background-image: url(./img/comando3.gif);
    background-position: center center ;
    background-size: cover;
    
}
.foto3{
    background-image: url(./img/html-intro.gif);
    background-position: center center ;
    background-size: cover;
}
.foto4{
    background-image: url(./img/cyber.gif);
    background-position: center center ;
    background-size: cover;
}
body{
    background-color: #181A1B;
    height: fit-content;
}
