*{
  box-sizing: border-box;
  margin: 0px;
}

/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #about {
    top: 80px;
    background-color: #04AA6D;
  }
  
  #blog {
    top: 140px;
    background-color: #2196F3; /* Blue */
  }
  
  #projects {
    top: 200px;
    background-color: #f44336; /* Red */
  }
  
  #contact {
    top: 260px;
    background-color: #555 /* Light Black */
  }

  .texto{
    width: 70%;
    margin: 5em auto 5em auto;
    border: solid 5px #847152;
    height: fit-content;
    background-color: #0D0E11;
    opacity: 0.9;
  }
  .texto p{
    font-size: 30px;
    padding: 1.5em;
    color: white;
    
  }
  #navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 80%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    margin-left: 9%;
    margin-right: 9%;
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1em 0em;
    text-decoration: none;
    font-size: 30px;
    
    
    
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
    
  }
  body{
    background-image: url(./img/abs1.jpg);
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
    
    
  }