
*{
    box-sizing: border-box;
    margin: 0px;
  }
  
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
    position: fixed;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    filter: blur(20px);
  
  }
  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.767);
    color:  rgb(201, 201, 201);
    width: 100%;
    padding: 50px;
    text-shadow: 5px 5px 10px black;
  }
  img{
    opacity: 0.9;
    border-radius: 20px;
  }
  .content p{
    width: 100%;
    margin-top: 2%;
    font-size: 20px;
  }
  .content h1{
    font-size: 60px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 2%;
    position: relative;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  .caja{
    width: 80%;
    display: grid;
    margin: 0 10%;
    grid-template-columns: auto auto auto;
    grid-gap: 5em;
  }
  .myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
   background-color: black;
   position: relative;
   
  }
  .myBtn a{
    text-decoration: none;
    color: white;
  }
  
  .myBtn:hover {
    background:  rgba(0, 0, 0, 0.5);
  }
  .myBtn2 {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
   background-color: black;
   position: relative;
   
  }
  
  .myBtn2 a{
    text-decoration: none;
    color: white;
  }
  
  .myBtn2:hover {
    background:  rgba(0, 0, 0, 0.5);
  }
  ol {
    font-size: 20px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 20px;
  }
  ol li{
    padding: 20px;
    text-align: left;
  
  }
  @font-face {
    font-family: "fuente1";
    src: url(./fuentes/fuente1.otf);
  }
  
  @font-face {
    font-family: "fuente3";
    src: url(./fuentes/fuente3.otf);
  }
  h1{
    font-family: "fuente3";
  }
  p{
    font-family: "fuente1";
  }
  
  dl {
    font-size: 20px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 20px;
  }
  dl dd {
    padding: 20px;
    text-align: left;
  
  }
  dl dt {
    padding: 20px;
    text-align: left;
  
  }
      
@media screen and (max-width: 400px){
            
    .content {
  position: absolute;
  top: 0;
  
  color:  rgb(201, 201, 201);
  width: 100%;
  padding: 30px;
  text-shadow: 5px 5px 10px black;
  height: fit-content;
  }
  
  img{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 10%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    margin: auto;
  }
  ol{
  font-size: 15px;
  }
  .content p{
  width: 100%;
  margin-top: 10%;
  font-size: 15px;
  }
  .content h1{
  font-size: 20px;
  
  
  }
  .caja{
    position: relative;
    width: fit-content;
    margin: 0 10%;
    margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2em;
  margin-top: 35%;
  
  }
  .myBtn {
  width: 80px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  .myBtn2 {
  width: 80px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  #myBtn {
  width: 80px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 2%;
  position: relative;
  }
   }
   @media (min-width:400px) and (max-width: 494px) {
       .content {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.767);
  color:  rgb(201, 201, 201);
  width: 100%;
  padding: 30px;
  text-shadow: 5px 5px 10px black;
  height: fit-content;
  }
  img{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 10%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    margin: auto;
  }
  ol{
  font-size: 20px;
  }
  .content p{
  width: 100%;
  margin-top: 10%;
  font-size: 20px;
  }
  .content h1{
  font-size: 26px;
  
  }
  .caja{
    position: relative;
    width: fit-content;
    margin: 0 10%;
    margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2em;
  margin-top: 35%;
  
  }
  .myBtn {
  width: 100px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  .myBtn2 {
  width: 100px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  #myBtn {
  width: 100px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 2%;
  position: relative;
  }
}
@media (min-width:494px) and (max-width:680px){
      *{
  box-sizing: border-box;
  margin: 0px;
  }
  
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
  position: fixed;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  
  }
  /* Add some content at the bottom of the video/page */
  .content {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.767);
  color:  rgb(201, 201, 201);
  width: 100%;
  padding: 10px;
  text-shadow: 5px 5px 10px black;
  height: fit-content;
  }
  img{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 10%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    margin: auto;
  }
  .content p{
  width: 80%;
  
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  }
  .primero{
   margin-top: 10%;
  }
  .content h1{
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
  width: 130px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 2%;
  position: relative;
  }
  
  #myBtn:hover {
  background: #ddd;
  color: black;
  }
  .caja{
    position: relative;
    width: fit-content;
    margin: 0 10%;
    margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2em;
  margin-top: 35%;
  
  }
  .myBtn {
  width: 130px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  .myBtn a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn:hover {
  background:  rgba(0, 0, 0, 0.5);
  }
  .myBtn2 {
  width: 130px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  
  .myBtn2 a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn2:hover {
  background:  rgba(0, 0, 0, 0.5)
  }
   }
   
  @media (min-width:680px) and (max-width:1000px){
           
    *{
  box-sizing: border-box;
  margin: 0px;
  }
  
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
  position: fixed;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  
  }
  /* Add some content at the bottom of the video/page */
  .content {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.767);
  color:  rgb(201, 201, 201);
  width: 100%;
  padding: 20px;
  text-shadow: 5px 5px 10px black;
  height: fit-content;
  }
  img{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 10%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    margin: auto;
  }
  .content p{
  width: 80%;
  
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  }
  .primero{
   margin-top: 10%;
  }
  .content h1{
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
  width: 130px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 2%;
  position: relative;
  }
  
  #myBtn:hover {
  background: #ddd;
  color: black;
  }
  .caja{
    position: relative;
    width: 100%;
    justify-content: center;
    margin: auto;
  margin-top: 35%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 7em;
  padding: 0px;
  
  
  }
  .myBtn {
  width: 130px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  .myBtn a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn:hover {
  background:  rgba(0, 0, 0, 0.5);
  }
  .myBtn2 {
  width: 130px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  
  .myBtn2 a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn2:hover {
  background:  rgba(0, 0, 0, 0.5)
  }
}
@media (min-width:1000px) and (max-width:1050px) {
  *{
  box-sizing: border-box;
  margin: 0px;
  }
  
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
  position: fixed;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  
  }
  /* Add some content at the bottom of the video/page */
  .content {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.767);
  color:  rgb(201, 201, 201);
  width: 100%;
  padding: 50px;
  text-shadow: 5px 5px 10px black;
  height: fit-content;
  }
  img{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 10%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    margin: auto;
  }
  .content p{
  width: 80%;
  
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  }
  .primero{
   margin-top: 10%;
  }
  .content h1{
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 2%;
  position: relative;
  }
  
  #myBtn:hover {
  background: #ddd;
  color: black;
  }
  .caja{
    position: relative;
    width: 100%;
    justify-content: center;
    margin: auto;
  margin-top: 35%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 7em;
  
  
  }
  .myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  .myBtn a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn:hover {
  background:  rgba(0, 0, 0, 0.5);
  }
  .myBtn2 {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  
  .myBtn2 a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn2:hover {
  background:  rgba(0, 0, 0, 0.5)
  }
} 
@media (min-width:1050px) and (max-width:1100px){
      *{
  box-sizing: border-box;
  margin: 0px;
  }
  
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
  position: fixed;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  
  }
  /* Add some content at the bottom of the video/page */
  .content {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.767);
  color:  rgb(201, 201, 201);
  width: 100%;
  padding: 50px;
  text-shadow: 5px 5px 10px black;
  height: fit-content;
  }
  img{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 10%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    margin: auto;
  }
  .content p{
  width: 80%;
  
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  }
  .primero{
   margin-top: 10%;
  }
  .content h1{
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 2%;
  position: relative;
  }
  
  #myBtn:hover {
  background: #ddd;
  color: black;
  }
  .caja{
    position: relative;
    width: 100%;
    justify-content: center;
    margin: auto;
  margin-top: 35%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10em;
  }
  .myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  .myBtn a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn:hover {
  background:  rgba(0, 0, 0, 0.5);
  }
  .myBtn2 {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  
  .myBtn2 a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn2:hover {
  background:  rgba(0, 0, 0, 0.5)
  }
    }
  
@media (min-width:1100px) and (max-width:1280px) {
      *{
  box-sizing: border-box;
  margin: 0px;
  }
  
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
  position: fixed;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  
  }
  /* Add some content at the bottom of the video/page */
  .content {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.767);
  color:  rgb(201, 201, 201);
  width: 100%;
  padding: 50px;
  text-shadow: 5px 5px 10px black;
  height: fit-content;
  }
  img{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 10%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    margin: auto;
  }
  ol{
  font-size: 30px;
  }
  .content p{
  width: 80%;
  
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  }
  
  .content h1{
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 2%;
  position: relative;
  }
  
  #myBtn:hover {
  background: #ddd;
  color: black;
  }
  .caja{
    position: relative;
    width: 100%;
    justify-content: center;
    margin: auto;
  margin-top: 35%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10em;
  }
  .myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  .myBtn a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn:hover {
  background:  rgba(0, 0, 0, 0.5);
  }
  .myBtn2 {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  
  .myBtn2 a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn2:hover {
  background:  rgba(0, 0, 0, 0.5)
  }
}
@media  (min-width: 1280px) and (max-width:1380px) {
    
    *{
  box-sizing: border-box;
  margin: 0px;
  }
  
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
  position: fixed;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  
  }
  /* Add some content at the bottom of the video/page */
  .content {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.767);
  color:  rgb(201, 201, 201);
  width: 100%;
  padding: 50px;
  text-shadow: 5px 5px 10px black;
  height: fit-content;
  }
  img{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 10%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    margin: auto;
  }
  .content p{
  width: 80%;
  
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  }
  .primero{
   margin-top: 10%;
  }
  ol{
  font-size: 30px;
  }
  .content h1{
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 2%;
  position: relative;
  }
  
  #myBtn:hover {
  background: #ddd;
  color: black;
  }
  .caja{
    position: relative;
    width: 100%;
    justify-content: center;
    margin: auto;
  margin-top: 35%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 17em;
  
  }
  .myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  .myBtn a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn:hover {
  background:  rgba(0, 0, 0, 0.5);
  }
  .myBtn2 {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  
  .myBtn2 a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn2:hover {
  background:  rgba(0, 0, 0, 0.5)
  }
}
@media (min-width:1380px){
  *{
  box-sizing: border-box;
  margin: 0px;
  }
  
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
  position: fixed;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  
  }
  /* Add some content at the bottom of the video/page */
  .content {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.767);
  color:  rgb(201, 201, 201);
  width: 100%;
  padding: 50px;
  text-shadow: 5px 5px 10px black;
  height: fit-content;
  }
  img{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 10%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 100px;
    margin: auto;
  }
  .content p{
  width: 80%;
  
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  }
  .primero{
     margin-top: 10%;
  }
  .content h1{
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 2%;
  position: relative;
  }
  
  #myBtn:hover {
  background: #ddd;
  color: black;
  }
  .caja{
    position: relative;
    width: 100%;
    justify-content: center;
    margin: auto;
  margin-top: 35%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 17em;
  
  }
  .myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  .myBtn a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn:hover {
  background:  rgba(0, 0, 0, 0.5);
  }
  .myBtn2 {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  background-color: black;
  position: relative;
  
  }
  
  .myBtn2 a{
  text-decoration: none;
  color: white;
  }
  
  .myBtn2:hover {
  background:  rgba(0, 0, 0, 0.5)
  }
}